.App {
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
  background-color: grey;
  height: 100vh;
}

.filedrop-header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.filedrop-status {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.bolded-text {
  font-weight: bold;
}

.filedrop-drop-header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.filedrop-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.filedrop-droparea {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filedrop-filelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
}

.fileitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 5px 0 5px 0;
}

.fileitem-item {
  width: 25%;
  margin: auto;
}
